SimulacroLMPRUEBA2/Ejercicio2/biblioteca4.dtd

<!ELEMENT biblioteca (libro,revista,periodico)>
<!ELEMENT libro (titulo,autor,fechaPublicacion)>
<!ELEMENT revista (titulo,fechaPublicacion)>
<!ELEMENT periodico (titulo,fechaPublicacion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT fechaPublicacion (#PCDATA)>
<!ATTLIST numeroDePaginas libro CDATA #REQUIRED>
