SimulacroLMPRUEBA2/Ejercicio2/hospital.dtd

<!ELEMENT hospital (departamento+)>
<!ELEMENT departamento (medico+)>
<!ATTLIST departamento nombre CDATA #REQUIRED>
<!ELEMENT medico (nombre,paciente+)>
<!ATTLIST medico especialidad CDATA #REQUIRED>
<!ELEMENT paciente (nombre)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST paciente fechaAdmision CDATA #REQUIRED>
